@{
    ViewBag.Title = "CreateUser";
}
<br />
<h2>Create User</h2>
<hr />

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
{
    <div class="row">
        <div>
            @Html.ValidationSummary()
            <label class="control-label">User Email</label>

            @Html.TextBox("txtEmail", null, new { @class = "form-control valid", @data_val = "true", @data_val_required = "Email is a required field!" })
            @*<input type="text" name="txtEmail" class="form-control" />*@
            <br />
            <label class="control-label">Password</label>

            @Html.TextBox("txtPassword", null, new { @class = "form-control valid", @data_val = "true", @data_val_required = "Password is a required field!" })
            @*<input type="text" name="txtPassword" class="form-control" />*@

            <br />
            <button type="submit" value="Submit" class="btn btn-primary">Save</button>
            @Html.ActionLink("Show All User", "Multidata2", "ShowData", null, new { @class = "btn btn-success" })
            @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-warning" })

        </div>


    </div>






}