@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title/ CSE Department</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <style>
        .navbar li:hover {
            background: #83AF9B;
        }
    </style>




</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
       
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div>


                    @Html.ActionLink("Computer Science & Engineering Department, JUST ", "", "", new { area = "" }, new { @class = "navbar-brand", onclick = "javascript:return false;" })
                </div>



            </div>
            

            @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Admin Home", "Index", "HomePage")</li>
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        <li>@Html.ActionLink("Admin Arena", "Index", "Admin")</li>


                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            }

        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @*@DateTime.Now.Year*@ DEVELOPERS TEAM, CSE-16</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.js"></script>
</body>
</html>