@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


<ul class="nav navbar-nav navbar-right">
    <button type="button" class="btn btn-outline-success">
        <li>@Html.ActionLink("Home", "Index", "HomePage", null, new { style = "text-decoration:none" })</li>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;

    <button type="button" class="btn btn-outline-info">
        <li>
            @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style = "text-decoration:none" })

        </li>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;

    <button type="button" class="btn btn-outline-warning">
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="text-decoration:none">Log Out</a></li>
    </button>
</ul>
    }
}
@*else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@
