@model CSE_DEPARTMENT.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
   
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-3 input-group ">
            <div class="input-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <span class="input-group-addon"><i class="fa fa-envelope" style="color:cornflowerblue"></i></span>
            </div>
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })

        <div class="col-md-3 input-group">
            <div class="input-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "txtPassword" })
                <span class="input-group-addon"><img id="btnShow" src="~/Images/eye-icon.png" /></span>
            </div>
            <div class="input-group">
                <input type="checkbox" id="cbShowPassword" />&nbsp;Show Password?
            </div>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password", new { @class = "col-md-2 control-label" })
        <div class="col-md-3 input-group">
            <div class="input-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "txtConfirmPassword" })
                <span class="input-group-addon"><img id="btnShow" src="~/Images/eye-icon.png" /></span>
            </div>
            <div class="input-group">
                <input type="checkbox" id="cbShowConfirmPassword" />&nbsp;Show Password?
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Reset" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#cbShowPassword').click(function () {
                $('#txtPassword').attr('type', $(this).is(':checked') ? 'text' : 'password');

            });


        });

        $(document).ready(function () {
            $('#cbShowConfirmPassword').click(function () {
                $('#txtConfirmPassword').attr('type', $(this).is(':checked') ? 'text' : 'password');

            });


        });


    </script>



}