@model CSE_DEPARTMENT.Models.book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

   
<br />
<br />
<br />
<br />
<br />
<br />
@using (Html.BeginForm("Create", "books", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card mb-4 shadow">
            <div class="card-header py-3">
                <h3 class="m-0 font-weight-bold text-primary">Create</h3>

            </div>

            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.year_id, "Year", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.DropDownList("year_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.year_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.book_name, "Book Name(Note: Please provide corresponding extension type after the book name(Ex: if the book is a pdf then provide .pdf extension))", htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.book_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.book_name, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-group">
                        @Html.LabelFor(model => model.files, "Upload Book(Note: For downloading the book you will have to provide uploaded document name as same as the Book Name & Maximum 5 MB file is allowed for uploading)", htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            <span class="btn btn-default btn-file">

                                @Html.TextBoxFor(model => model.files, new { type = "file", @id= "files", @name= "files"})
                                @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                            </span>
                            </div>
                        </div>
                    </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.book_author, "Book Author", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.book_author, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.book_author, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.specification, "Specification", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.specification, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.specification, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.edition, "Edition", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.edition, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.edition, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.subject_id, "Subject Name", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.DropDownList("subject_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.subject_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" name="submit" class="btn btn-success" /> |
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
                    </div>
                </div>
            </div>

        </div>

    </div>
}
