@model IEnumerable<CSE_DEPARTMENT.Models.book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject.Subject_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year.year_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.Subject_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year.year_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.book_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.book_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.book_id })
        </td>
    </tr>
}

</table>
