@model List<CSE_DEPARTMENT.Models.AspNetUser>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 2);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <style>
        .buttonback {
            text-align: center;
        }
    </style>

</head>
<body>
    <div class="container">
        <br />
        <h1>Users List</h1>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Search By Email</a>
                </div>
                <div class="collapse navbar-collapse">
                    @using (Html.BeginForm("Multidata2", "ShowData", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                    {
                        <div class="form-group">
                            <input type="text" name="search" id="txtsearch" value="@ViewBag.search" class="form-control" placeholder="search" />
                        </div>
                        <i class="glyphicon glyphicon-search"></i>
                    }
                </div>
            </div>
        </nav>
        <div>
            @grid.Table(
                tableStyle: "table table-responsive table-bordered",
                columns: grid.Columns(
                grid.Column(columnName: "Id", header: "ID"),
                grid.Column(columnName: "Email", header: "Email"),
                grid.Column(columnName: "EmailConfirmed", header: "EmailConfirmed"),
                grid.Column(columnName: "PhoneNumber", header: "PhoneNumber"),
                grid.Column(columnName: "PhoneNumberConfirmed", header: "PhoneNumberConfirmed"),
                grid.Column(columnName: "TwoFactorEnabled", header: "TwoFactorEnabled"),
                grid.Column(header: "Action", format:@<a href="/ShowData/DeleteRole/@item.ID" class="btn btn-danger">Delete</a>)))

            <div class="row">
                <div class="col-sm-6">
                    @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")

                </div>
            </div>

            <div class=" buttonback">
                @Html.ActionLink("Go Back", "Index", "Admin", null, new { @class = "btn btn-info" })
            </div>

            @*@Html.Hidden("dir", grid.SortDirection)
                @Html.Hidden("col", grid.SortColumn)*@

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script>
            $(function () {
                try {
                    var dir = $('#dir').val();
                    var col = $('#col').val();
                    var header = $("th a[href*=" + col + "]");
                    if (dir == "Ascending") {
                        header.text(header.text() + "  ▲")
                    }
                    if (dir == "Descending") {
                        header.text(header.text() + "  ▼");
                    }
                } catch (e) {
                }
            })
        </script>*@

    <script>
        $("#txtsearch").on("keyup", function () {
            var txtenter = $(this).val();
            $("table tr").each(function (results) {
                if (results !== 0) {
                    var id = $(this).find("td:nth-child(2)").text();
                    if (id.indexOf(txtenter) !== 0 && id.toLowerCase().indexOf(txtenter.toLowerCase()) < 0) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                }
            });
        });
    </script>



</body>

</html>