@model IEnumerable<CSE_DEPARTMENT.Models.AspNetUser>


@{
    ViewBag.Title = "Users";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #050100;
    }

    .buttonback {
        text-align: center;
    }

    i {
        color: black;
    }
</style>




<body>
    <br />
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">

            <h3>Users List</h3>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand">Search Here</a>

                    </div>
                    <div class="collapse navbar-collapse">


                        @using (Html.BeginForm("Multidata2", "ShowData", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                        {
                            <div class="form-group">
                                <input type="text" name="search" id="txtsearch" class="form-control" placeholder="Enter Email Address" />
                            </div>
                            <i class="glyphicon glyphicon-search"></i>


                            <select class="form-control" name="state" id="maxRows">
                                <option value="5000">Show ALL Rows</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="70">70</option>
                                <option value="100">100</option>
                            </select>

                        }
                        @*<input type="text" id="txtsearch" placeholder="Enter Email Address" />*@



                    </div>
                </div>
            </nav>

        </div>
        <!-- /.box-header -->

        <div class="panel-body">

            <table class="table table-hover table-bordered table-condensed" id="Users">
                <thead>
                    <tr>
                        <td><b>Id</b></td>
                        <td><b>Email</b></td>
                        <td><b>EmailConfirmed</b></td>
                        <td><b>PhoneNumber</b></td>
                        <td><b>PhoneNumberConfirmed</b></td>
                        <td><b>TwoFactorEnabled</b></td>
                        <td><b>Action</b></td>
                    </tr>
                </thead>

                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Email</td>
                        <td>@user.EmailConfirmed</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.PhoneNumberConfirmed</td>
                        <td>@user.TwoFactorEnabled</td>

                        <td><a href="/ShowData/Delete/@user.Id" class="btn btn-danger">Delete</a></td>


                    </tr>

                }



            </table>


            <div class="pagination-container">

                <nav>

                    <ul class="pagination">

                        <li data-page="prev">

                            <span> Previous <span class="sr-only">(current)</span></span>

                        </li>



                        <li data-page="next" id="prev">

                            <span> Next <span class="sr-only">(current)</span></span>

                        </li>

                    </ul>

                </nav>

            </div>



            @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
                <script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
            <script src="~/Scripts/js.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <script type="text/javascript">
                getPagination('#Users');
            </script>

            <script>
                $("#txtsearch").on("keyup", function () {
                    var txtenter = $(this).val();
                    $("table tr").each(function (results) {
                        if (results !== 0) {
                            var id = $(this).find("td:nth-child(2)").text();
                            if (id.indexOf(txtenter) !== 0 && id.toLowerCase().indexOf(txtenter.toLowerCase()) < 0) {
                                $(this).hide();
                            }
                            else {
                                $(this).show();
                            }
                        }
                    });
                });
            </script>





        </div>


    </div>

    <div class=" buttonback">
        @Html.ActionLink("Go Back", "Index", "Admin", null, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Create A New User", "CreateUser", "Account", null, new { @class = "btn btn-success" })
    </div>

    @*<a class="scroll-to-top rounded" href="#page">
            <i class="fas fa-angle-double-up"></i>
        </a>*@
</body>