@model List<CSE_DEPARTMENT.Models.AspNetRole>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 3);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <style>
        .buttonback {
            text-align: center;
        }
    </style>

</head>
<body>

    <div class="container">
        <br />
        <h1>Roles List</h1>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Search Here</a>
                </div>
                <div class="collapse navbar-collapse">
                    @using (Html.BeginForm("Multidata", "ShowData", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                    {
                        <div class="form-group">
                            <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="search" />
                        </div>
                        <button type="submit" value="Search" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
                    }
                </div>
            </div>
        </nav>
        <div>
            @grid.Table(
                tableStyle: "table table-responsive table-bordered",
                columns: grid.Columns(
                grid.Column(columnName: "Id", header: "ID"),
                grid.Column(columnName: "Name", header: "Name"),
                grid.Column(header: "Action", format:@<a href="/ShowData/Delete/@item.ID" class="btn btn-danger">Delete</a>)))

            <div class="row">
                <div class="col-sm-6">
                    @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")

                </div>
            </div>

            <div class=" buttonback">
                @Html.ActionLink("Go Back", "Index", "Admin", null, new { @class = "btn btn-info" })
            </div>

            @*@Html.Hidden("dir", grid.SortDirection)
        @Html.Hidden("col", grid.SortColumn)*@

        </div>
    </div>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
            $(function () {
                try {
                    var dir = $('#dir').val();
                    var col = $('#col').val();
                    var header = $("th a[href*=" + col + "]");
                    if (dir == "Ascending") {
                        header.text(header.text() + "  ▲")
                    }
                    if (dir == "Descending") {
                        header.text(header.text() + "  ▼");
                    }
                } catch (e) {
                }
            })
    </script>



</body>

</html>
