@model IEnumerable<CSE_DEPARTMENT.Models.staff_career>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Staff.staff_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joining_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diploma_result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diploma_institute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hsc_result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hsc_institute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ssc_result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ssc_institute)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.staff_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joining_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diploma_result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diploma_institute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hsc_result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hsc_institute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ssc_result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ssc_institute)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.staffcareer_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.staffcareer_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.staffcareer_id })
        </td>
    </tr>
}

</table>
