@model CSE_DEPARTMENT.Models.activities

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>activities</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.student.quata_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.quata_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.club_membership)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.club_membership)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.club_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.club_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.achievement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.achievement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.others_co_curricular_activities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.others_co_curricular_activities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.activities_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
