@model IEnumerable<CSE_DEPARTMENT.Models.activities>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Campus Activities</h3>

    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-condensed" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Roll No
                        </th>
                        <th>
                            Club Membership
                        </th>
                        <th>
                            Club Name
                        </th>
                        <th>
                            Designation
                        </th>
                        <th>
                            Achievement
                        </th>
                        <th>
                            Others Co Curricular Activities
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Roll)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.club_membership)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.club_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.designation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.achievement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.others_co_curricular_activities)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td class="btn-group">
                            @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
                            {
                    @Html.ActionLink("Edit", "Edit", new { id = item.activities_id }, new { @class = "btn btn-primary" })}
                            @Html.ActionLink("Details", "Details", new { id = item.activities_id }, new { @class = "btn btn-info" })
                            @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
                            {
                    @Html.ActionLink("Delete", "Delete", new { id = item.activities_id }, new { @class = "btn btn-danger" })}
                        </td>

                    </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>

</div>

<p>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
    {
        @Html.ActionLink("Create A New Entry", "Create", null, new { @class = "btn btn-success" })
    }

</p>