@model CSE_DEPARTMENT.Models.student

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Are you sure you want to delete this?</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <dl class="dl-horizontal">
                    <dt>
                        Full Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        Session
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Session.session_name)
                    </dd>

                    <dt>
                        Year
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Year.year_name)
                    </dd>

                    <dt>
                        Roll No
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Roll_No)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Photo)
                    </dt>

                    <dd>
                        @{ string imagepath = Model.Photo;
                <img src="@Url.Content(imagepath)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto" /> }
                    </dd>
                    <dt>
                        Quota
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.quota)
                    </dd>

                    <dt>
                        Quota Description
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.quata_description)
                    </dd>

                    <dt>
                        Skills
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.skills)
                    </dd>

                    <dt>
                        Hobby
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.hobby)
                    </dd>

                    <dt>
                        Fathers Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fathers_name)
                    </dd>

                    <dt>
                        Fathers Occupation
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fathers_occupation)
                    </dd>

                    <dt>
                        Fathers Contact No
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fathers_contact_no)
                    </dd>

                    <dt>
                        Mothers Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.mothers_name)
                    </dd>

                    <dt>
                        Mothers Occupation
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.mothers_occupation)
                    </dd>

                    <dt>
                        Mothers Contact No
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.mothers_contact_no)
                    </dd>

                    <dt>
                        Guardians Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.guardians_name)
                    </dd>

                    <dt>
                        Guardians Occupation
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.guardians_occupation)
                    </dd>

                    <dt>
                        Guardians Contact No
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.guardians_contact_no)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
            </div>
                }
            </table>

        </div>

    </div>

</div>

