@model IEnumerable<CSE_DEPARTMENT.Models.student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Student Profile</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-condensed" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Session
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Roll No
                        </th>
                        <th>
                            Photo
                        </th>
                        <th>
                            Quota
                        </th>
                        <th>
                            Quota Description
                        </th>
                        <th>
                            Skills
                        </th>
                        <th>
                            Hobby
                        </th>
                        <th>
                            Fathers Name
                        </th>
                        <th>
                            Fathers Occupation
                        </th>
                        <th>
                            Fathers Contact No
                        </th>
                        <th>
                            Mothers Name
                        </th>
                        <th>
                            Mothers Occupation
                        </th>
                        <th>
                            Mothers Contact No
                        </th>
                        <th>
                            Guardians Name
                        </th>
                        <th>
                            Guardians Occupation
                        </th>
                        <th>
                            Guardians Contact No
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Session.session_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year.year_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Roll_No)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Photo))
                            {
                    <img src="@Url.Content(item.Photo)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto" />}
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quota)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quata_description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.skills)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hobby)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fathers_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fathers_occupation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fathers_contact_no)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mothers_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mothers_occupation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mothers_contact_no)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.guardians_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.guardians_occupation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.guardians_contact_no)
                        </td>
                        <td class="btn-group">
                            @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
                            {
                        @Html.ActionLink("Edit", "Edit", new { id = item.student_id }, new { @class = "btn btn-primary" })}
                            @Html.ActionLink("Details", "Details", new { id = item.student_id }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Preview", "Details", new { id = item.student_id }, new { @class = "btn btn-secondary" })
                            @Html.ActionLink("Download", "Details", new { id = item.student_id }, new { @class = "btn btn-success" })
                            @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
                            {
                        @Html.ActionLink("Delete", "Delete", new { id = item.student_id }, new { @class = "btn btn-danger" })}
                        </td>
                    </tr>
                    }

                </tbody>
            </table>

        </div>

    </div>

</div>
<p>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
    {
@Html.ActionLink("Create A New Entry", "Create", null, new { @class = "btn btn-success" })
    }

</p>