@model IEnumerable<CSE_DEPARTMENT.Models.result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Session.session_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.quata_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year.year_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roll_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cgpa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Session.session_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.quata_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year.year_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roll_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cgpa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.result_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.result_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.result_id })
        </td>
    </tr>
}

</table>
