@model CSE_DEPARTMENT.Models.routine

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Are you sure you want to delete this?</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <dl class="dl-horizontal">
                    <dt>
                        Session
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Session.session_name)
                    </dd>

                    <dt>
                        Subject Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Subject.Subject_Name)
                    </dd>

                    <dt>
                        Teacher Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.teacher.teacher_name)
                    </dd>

                    <dt>
                        Date
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.class_date)
                    </dd>

                    <dt>
                        Day
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.day)
                    </dd>

                    <dt>
                        Start Time
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.start_time)
                    </dd>

                    <dt>
                        End Time
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.end_time)
                    </dd>

                    <dt>
                        Duration
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.duration)
                    </dd>

                    <dt>
                        Comment
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.comment)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
                    </div>
                }
            </table>

        </div>

    </div>

</div>
