@model CSE_DEPARTMENT.Models.routine

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Details</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <dl class="dl-horizontal">
                    <dt>
                        Session
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Session.session_name)
                    </dd>

                    <dt>
                        Subject Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Subject.Subject_Name)
                    </dd>

                    <dt>
                        Teacher Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.teacher.teacher_name)
                    </dd>

                    <dt>
                        Date
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.class_date)
                    </dd>

                    <dt>
                        Day
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.day)
                    </dd>

                    <dt>
                        Start Time
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.start_time)
                    </dd>

                    <dt>
                       End Time
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.end_time)
                    </dd>

                    <dt>
                       Duration
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.duration)
                    </dd>

                    <dt>
                        Comment
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.comment)
                    </dd>

                </dl>
            </table>

        </div>

    </div>

</div>
<p>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.routine_id }, new { @class = "btn btn-info" }) 
    }
@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
</p>
