@model IEnumerable<CSE_DEPARTMENT.Models.routine>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Class Routine</h3>



    </div>

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Session
                        </th>
                        <th>
                            Subject Name
                        </th>
                        <th>
                            Teacher Name
                        </th>

                        <th>
                            Date
                        </th>
                        <th>
                            Day
                        </th>
                        <th>
                            Start Time
                        </th>
                        <th>
                            End Time
                        </th>
                        <th>
                            Duration
                        </th>
                        <th>
                            Comment
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Session.session_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Subject_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.teacher.teacher_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.class_date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.day)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.start_time)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.end_time)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.comment)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.routine_id }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.routine_id }, new { @class = "btn btn-info" }) 
                                @Html.ActionLink("Delete", "Delete", new { id = item.routine_id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

</div>




@Html.ActionLink("Create A New Entry", "Create", null, new { @class = "btn btn-success" })

