@model IEnumerable<CSE_DEPARTMENT.Models.routine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Session.session_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.Subject_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teacher.teacher_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.routine_upload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.class_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Session.session_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.Subject_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teacher.teacher_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.routine_upload)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.class_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.routine_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.routine_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.routine_id })
        </td>
    </tr>
}

</table>
