@model IEnumerable<CSE_DEPARTMENT.Models.Year>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Year-Semester</h3>

    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-condensed" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Year-Semester
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.year_name)
                            </td>
                            <td>
                                @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = item.year_id }, new { @class = "btn btn-primary" })
                                }
                                @Html.ActionLink("Details", "Details", new { id = item.year_id }, new { @class = "btn btn-info" })
                                @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
                                {
                                    @Html.ActionLink("Delete", "Delete", new { id = item.year_id }, new { @class = "btn btn-danger" })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>

</div>

<p>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
    {
        @Html.ActionLink("Create A New Entry", "Create", null, new { @class = "btn btn-success" })
    }

</p>
