@model CSE_DEPARTMENT.Models.teacher_career

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Are you sure you want to delete this?</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <dl class="dl-horizontal">
                    <dt>
                        Teacher Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.teacher.teacher_name)
                    </dd>

                    <dt>
                        Joining Date
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.joining_date)
                    </dd>

                    <dt>
                        PhD Status
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.phd_status)
                    </dd>

                    <dt>
                        PhD Institute
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.phd_institute)
                    </dd>

                    <dt>
                        Msc Status
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.msc_status)
                    </dd>

                    <dt>
                        Msc Institute
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.msc_institute)
                    </dd>

                    <dt>
                        Msc Session
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.msc_session)
                    </dd>

                    <dt>
                        Msc Result
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.msc_result)
                    </dd>

                    <dt>
                        Bsc Status
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.bsc_status)
                    </dd>

                    <dt>
                        Bsc Institute
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.bsc_institute)
                    </dd>

                    <dt>
                        Bsc Session
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.bsc_session)
                    </dd>

                    <dt>
                        Bsc Result
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.bsc_result)
                    </dd>

                    <dt>
                        Previous Workplaces
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ex_workplaces)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
            </div>
                }
            </table>

        </div>

    </div>

</div>

