@model CSE_DEPARTMENT.Models.teacher_career

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>teacher_career</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.teacher.teacher_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher.teacher_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joining_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joining_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phd_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phd_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phd_institute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phd_institute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msc_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msc_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msc_institute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msc_institute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msc_session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msc_session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msc_result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msc_result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bsc_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bsc_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bsc_institute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bsc_institute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bsc_session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bsc_session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bsc_result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bsc_result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ex_workplaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ex_workplaces)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.teachercareer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
