@model IEnumerable<CSE_DEPARTMENT.Models.teacher_career>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Faculty Career Information</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Faculty Name
                        </th>
                        <th>
                            Joining Date
                        </th>
                        <th>
                            PhD Status
                        </th>
                        <th>
                            PhD Institute
                        </th>
                        <th>
                            Msc Status
                        </th>
                        <th>
                            Msc Institute
                        </th>
                        <th>
                            Msc Session
                        </th>
                        <th>
                            Msc Result
                        </th>
                        <th>
                            Bsc Status
                        </th>
                        <th>
                            Bsc Institute
                        </th>
                        <th>
                            Bsc Session
                        </th>
                        <th>
                            Bsc Result
                        </th>
                        <th>
                            Previous Workplaces
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.teacher.teacher_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.joining_date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phd_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phd_institute)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.msc_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.msc_institute)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.msc_session)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.msc_result)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.bsc_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.bsc_institute)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.bsc_session)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.bsc_result)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ex_workplaces)
                            </td>
                            <td class="btn-group">
                                @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
                                {
                            @Html.ActionLink("Edit", "Edit", new { id = item.teachercareer_id }, new { @class = "btn btn-primary" })}
                                @Html.ActionLink("Details", "Details", new { id = item.teachercareer_id }, new { @class = "btn btn-info" })
                                @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
                                {
                            @Html.ActionLink("Delete", "Delete", new { id = item.teachercareer_id }, new { @class = "btn btn-danger" })
                                }
                           </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>

    </div>

</div>

<p>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin")))
    {
@Html.ActionLink("Create A New Entry", "Create", null, new { @class = "btn btn-success" })
    }

</p>
