@model IEnumerable<CSE_DEPARTMENT.Models.materials>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Class Materials</h3>

    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>

                    <tr>
                        <th>
                            Subject Name
                        </th>
                        <th>
                            Year Name
                        </th>
                        <th>
                            Materials Topic
                        </th>
                        <th>
                            Arranged By
                        </th>
                        <th>
                            Reference
                        </th>
                        <th>
                            Publish Date
                        </th>
                        <th>
                            Specification
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Subject_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Year.year_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.materials_topic)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.arranged_by)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.reference)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.publish_date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.specification)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.materials_id }, new { @class = "btn btn-primary" }) 
                                @Html.ActionLink("Details", "Details", new { id = item.materials_id }, new { @class = "btn btn-info" }) 
                                @Html.ActionLink("Delete", "Delete", new { id = item.materials_id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>

</div>

<p>
    @Html.ActionLink("Create A New Entry", "Create", null, new { @class = "btn btn-success" })

</p>
