@model CSE_DEPARTMENT.Models.Staff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.staff_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.favorite_quote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.favorite_quote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.staff_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
